/* #region css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* #endregion */

/* Start Styling Below */

*{
    font-family: 'Merriweather', sans-serif;
    color: hsl(50, 40%, 20%);
}

body {
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    height: 100vh;
}

.sidebar {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #fffaf0;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2.5rem;
    align-self: center;
}

.my-projects-list {
    margin-top: 12px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar > button,
.project-list-item {
    border-radius: 6px;
    padding: 6px;
}

.sidebar > button {
    border: none;
    background-color: #fffaf0;
}

.sidebar > button:hover,
.project-list-item:hover {
    cursor: pointer;
    background-color: hsl(50, 40%, 75%);
    transition: 0.3s ease;
}

.sidebar > button.clicked {
    background-color: hsl(50, 40%, 75%);
    border-left: 8px solid hsl(50, 40%, 50%);
}

.project-list-item.clicked {
    color: blue;
}


#add-project-btn {
    margin-top: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.card-header {
    padding: 0.5rem;
    border-bottom: 1px solid hsl(50, 40%, 50%);
}