/* #region css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* #endregion */

/* Start Styling Below */

:root {
    --tan: #fffaf0;
    --tanner: hsl(46, 39%, 85%);
    --dark-tan: hsl(50, 40%, 50%);
    --darker-tan: hsl(50, 40%, 20%);
    --hover: hsl(50, 40%, 70%);
}

* {
    font-family: 'Merriweather', sans-serif;
    color: var(--darker-tan);
}

body {
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    height: 100vh;
}

.sidebar {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--tan);
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2.5rem;
    align-self: center;
}

.my-projects-list {
    margin-top: 12px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-list-item {
    display: flex;
    justify-content: space-between;
}

.sidebar>button,
.project-list-item {
    border-radius: 6px;
    padding: 6px;
}

.project-name {
    flex: 1;
}

.sidebar>button {
    border: none;
    background-color: #fffaf0;
}

.sidebar>button:hover,
.project-list-item:hover {
    cursor: pointer;
    background-color: var(--hover);
    transition: 0.3s ease;
}

.sidebar-btn.clicked,
.project-list-item.clicked {
    background-color: var(--hover);
    border-left: 8px solid hsl(50, 40%, 50%);
}

#add-project-btn {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#add-project-icon {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
}

.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.card-header {
    padding: 0.5rem;
    border-bottom: 1px solid hsl(50, 40%, 50%);
}

.card-content {
    padding: 0.5rem;
}

.add-todo-btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 0;
    background-color: var(--tanner);
}

.add-todo-btn:hover {
    cursor: pointer;
    background-color: var(--hover);
    transition: 0.3s ease;
}

#add-todo-form {
    display: none;
}

#add-todo-form.opened {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.2fr 0.1fr 0.1fr;
    gap: 8px;

    border: none;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

#add-todo-form > * {
    border: none;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.2rem 0.5rem;
}

#add-todo-form > *:hover {
    cursor: pointer;
}

#add-todo-form >input:nth-of-type(-n+2) {
    cursor: text;
}

#add-todo-form > *:focus-within {
    outline: none;
    border: 2px solid var(--dark-tan);
}

#add-todo-form>button {
    background-color: var(--tanner);
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

#add-todo-form>button:hover {
    background-color: var(--hover);
}

.todo-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list-item {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 0.3rem 0.8rem;
}

.todo-list-item:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease;
}

.todo-list-item.completed {
    transition: 0.5 s ease-in-out;
    text-decoration: line-through;
    color: grey;
    opacity: 0.6;
    box-shadow: none;
}


.todo-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0.2rem;
}

.todo-details > * {
    flex: 1;
}

.todo-details >:first-child {
    text-align: start;
}

.todo-details >:last-child {
    text-align: end;
}

.todo-details:hover {
    cursor: pointer;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 3px solid var(--darker-tan);
    border-radius: 50%;
    /* Makes it round */
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.checkbox:hover {
    opacity: 0.8;
}

.checkbox:checked {
    background-color: var(--dark-tan);
}

.checkbox:checked::after {
    content: "\2713";
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todo-display-form {
    display: flex;
    flex-direction: column;
}

.delete-todo-btn,
.delete-project-btn {
    border: none;
    background-color: white;
}

.delete-project-btn {
    background-color: var(--tan);
}

.delete-todo-btn:hover,
.delete-project-btn:hover {
    cursor: pointer;
}

.delete-project-btn:hover {
    background-color: var(--tan);
}

.delete-project-btn:hover svg path,
.delete-todo-btn:hover svg path {
    transition: 0.4s ease;
    color: red;
}

#project-dialog, #todo-dialog {
    position: absolute;
    width: 750px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2rem;
    border: 2px solid #CCC;
    box-shadow: 0 0.5em 1.2em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

.dialog-project-title>input {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.75rem;
}

.dialog-project-title>input:focus {
    outline: none;
    border: 2px solid var(--dark-tan);
}

.dialog-project-buttons,
.todo-dialog-buttons {
    display: flex;
    gap: 20px;
}

.dialog-project-buttons>button,
.todo-dialog-buttons>button {
    width: 100%;
    background-color: var(--tanner);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    margin-top: 1rem;
    transition: 0.3s ease;
}

.dialog-project-buttons>button:hover,
.todo-dialog-buttons>button:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.todo-display-header {
    text-align: center;
}

textarea {
    resize: none;
    min-height: 150px;
}


.sort-btn {
    display: flex;
    align-items: baseline;
    margin: 0.6rem 0;
    margin-left: auto;
    border: none;
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
    gap: 5px;
    background-color: var(--tanner);
}

.sort-btn:hover {
    cursor: pointer;
    background-color: var(--hover);
    transition: 0.3s ease;
}


.blur {
    filter: blur(3px);
}
